@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-nunito {
  font-family: "Nunito Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.parent-welcome-card {
  background-color: #ecffed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230f6614' fill-opacity='0.09'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* styles.css or your existing CSS file */
.fc-toolbar .fc-toolbar-title {
  font-size: 2rem; /* Adjust size as needed */
  font-family: "Arial", sans-serif; /* Change to your desired font */
  font-weight: bold; /* Make it bold or adjust as desired */
}

.fc .fc-daygrid-day-number {
  font-size: 1.2rem; /* Example: change the size of day numbers */
}

/* If you want to style the button in the toolbar */
.fc-toolbar button {
  font-size: 1rem; /* Change button font size */
}

@media (prefers-color-scheme: dark) {
  .fc-popover-title {
    color: black;
    font-size: 0.6rem;
  }

  .fc-popover-body {
    color: black;
  }
}

@media (max-width: 768px) {
  .fc {
    font-size: 0.9rem; /* Adjust the font size for the calendar */
    height: 100vh;
  }

  .fc-daygrid-day {
    padding: 0.5rem; /* Adjust padding for day cells */
    height: auto; /* Allow auto height for day cells */
    min-height: 60px; /* Minimum height for day cells */
  }

  .fc-toolbar {
    flex-direction: column; /* Stack toolbar elements vertically */
    align-items: center; /* Center align elements */
  }

  .fc .fc-daygrid-day-number {
    font-size: 0.6rem; /* Adjust size of day numbers */
  }

  .fc-today-button,
  .fc-prev-button,
  .fc-next-button {
    font-size: 0.75rem; /* Smaller font size for buttons */
    padding: 0.25rem 0.5rem; /* Adjust padding for buttons */
  }

  .fc-daygrid-event {
    font-size: 0.6rem; /* Smaller font size for event titles */
  }

  /* Optional: Make the modal full-width on small screens */
  .modal-box {
    max-width: 90vw; /* Limit max width to 90% of the viewport width */
    width: auto; /* Auto width to adapt to content */
  }
}
